.tc-logo { margin-top: 0; }
.tc-header-sec-text { float: right; }
.tc-header-pri-text { margin-top: 27px; }
.tc-header-wiget-area .tc-social { margin-left: 30px; } 
.main-navigation ul.sf-menu { float: left; }
.tc-header-pri-text { float: right; margin-top: 32px; margin-left: 30px; }
.tc-header-pri-text .themebtn { margin: 0; }
#header-sticky .main-navigation ul.sf-menu { float: right; }
.tc-header-sec-right { margin-top: 5px; }
#tc-header-secondary .tc-header-secondary-inner { padding: 15px 0; }
